#titulo{
    color: #45B39D;
    font-family: "Consolas", monospace;
}
#materia{
    font-family: "Consolas", monospace;

}
a {
    font-family: "Consolas", monospace;
    font-size: 12px;
}

